{% extends "base.html" %}

{% block title %} Sistema Académico{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/asistencia.css') }}">
{% endblock %}

{% block content %}

<div class="page-header">
    <div class="page-header-left">
        <a href="/asistencia" class="btn-volver">← Volver</a>
        <h1 class="page-title">Asistencia detalles</h1>
    </div>
</div>

<!-- Datos de la asistencia -->
<div class="detalle-grid">
    <div class="detalle-card">
        <p class="detalle-label">id</p>
        <p class="detalle-valor">{{registro.id}}</p>
    </div>
    <div class="detalle-card">
        <p class="detalle-label">Fecha</p>
        <p class="detalle-valor">{{ registro.fecha }}</p>
    </div>
    <div class="detalle-card">
        <p class="detalle-label">Curso</p>
        <p class="detalle-valor">{{registro.curso.nombre}}</p>
    </div>
    <div class="detalle-card">
        <p class="detalle-label">Cantidad alumnos del curso</p>
        <p class="detalle-valor">{{ registro.curso.total_alumnos }}</p>
    </div>
</div>

<!-- Alumnos presentes-->
<div class="table-card" style="margin-top: 1.5rem;">
    <div class="table-card-header">
        <h2>Alumnos presentes</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Padrón</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Asistencia</th>
                <th>Cuando dio la asistencia</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            {% if alumno.presente %}
            <tr>
                <td>{{ alumno.padron }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>
                    {% if alumno.presente %}
                        <span class="badge verde">Presente</span>
                    {% else %}
                        <span class="badge gris">Ausente</span>
                    {% endif %}
                </td>
                <td>{{ alumno.asistencia_registrada or "N/A" }}</td>
                <td>
                    {% if not alumno.abondono %}
                        <span class="badge verde">Activo</span>
                    {% else %}
                        <span class="badge gris">Inactivo</span>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% else %}
            <tr>
                <td colspan="5" class="vacio">Todavia no se ha pedido asistencia</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Alumnos austentes-->
<div class="table-card" style="margin-top: 1.5rem;">
    <div class="table-card-header">
        <h2>Alumnos austentes</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Padrón</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Asistencia</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            {% if not alumno.presente %}
            <tr>
                <td>{{ alumno.padron }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido }}</td>
                <td>
                    {% if alumno.presente %}
                        <span class="badge verde">Presente</span>
                    {% else %}
                        <span class="badge gris">Ausente</span>
                    {% endif %}
                </td>
                <td>
                    {% if alumno.estado %}
                        <span class="badge verde">Activo</span>
                    {% else %}
                        <span class="badge gris">Inactivo</span>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% else %}
            <tr>
                <td colspan="5" class="vacio">Todavia no se ha pedido asistencia</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}